/*Base Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F1F6F9;
  font-family: "Nunito Sans", sans-serif;
  color: #14274E;
}

section {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #14274E;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
}

/*Mobile*/
/*navigation*/
.desktop-navigation {
  display: none;
}

.mobile-navigation {
  width: 80%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-navigation ul {
  list-style: none;
  line-height: 4rem;
}

#page {
  margin-top: 0.5em;
}

/*Larger Screens - Nav*/
@media (min-width: 769px) {
  .mobile-navigation {
    display: none;
  }
  .desktop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 4em auto 1rem;
  }
  .desktop-navigation .dn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
  }
  .desktop-navigation .dn li {
    list-style: none;
  }
  .desktop-navigation .dn li a {
    text-decoration: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
  width: 80%;
}

.hero img {
  position: absolute;
  width: 80%;
  top: 0;
  margin: 10em auto;
  z-index: -9999;
}

.hero .content {
  text-align: center;
  padding: 12em 0 8em;
}

.hero .content h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.hero .content p {
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.hero .content a {
  color: #F1F6F9;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .content .btn {
  background: #14274E;
  border-radius: 0.5rem;
  padding: 0.2em 1.4em;
}

/*Larger Screens - Hero*/
@media (min-width: 767px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10em;
  }
  .hero img {
    width: 437px;
    height: 344px;
    margin-left: 30%;
  }
  .hero .content {
    width: 100%;
    margin-top: 5em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 2rem;
  }
  .hero .content p, .hero .content a {
    font-size: 1.5rem;
  }
}

@media (min-width: 1279px) {
  .hero {
    margin-top: 1em;
  }
  .hero img {
    margin: 0;
    width: 641px;
    height: 505px;
    right: 0;
    margin-top: 14em;
    margin-right: 12%;
  }
  .hero .content {
    width: 70%;
    margin-top: -5%;
  }
  .hero .content h1 {
    font-size: 2.8rem;
  }
  .hero .content p, .hero .content a {
    font-size: 1.8rem;
  }
}

.info h1 {
  text-align: center;
  padding: 30% 0 20%;
  font-size: 2rem;
}

.info .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .cards .card {
  margin: 10% auto;
  background: #fff;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.info .cards .card p {
  color: #14274E;
  width: 80%;
  margin: 30% auto;
  font-size: 1.2rem;
  font-weight: bold;
}

/*Larger Screens - Info*/
@media (min-width: 769px) {
  .info h1 {
    text-align: left;
    padding: 10% 0;
  }
  .info .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info .cards .card {
    width: 12em;
    height: 16em;
  }
}

/*Larger Screens - Info*/
@media (min-width: 1024px) {
  .info h1 {
    padding: 10% 0 0%;
  }
  .info .cards .card {
    width: 30%;
    height: 30%;
  }
}

footer {
  font-size: 1.2rem;
  margin-top: 10em;
  background: #14274E;
  color: #F1F6F9;
  text-align: center;
}

footer .footer-tag {
  padding: 0.5em;
  font-size: 0.8rem;
}

footer .footer-body {
  background-color: #394867;
  padding: 10% 0;
}

footer .footer-body .footer-header, footer .footer-body .footer-content {
  width: 80%;
  margin: auto;
}

footer .footer-body .footer-header {
  text-align: left;
  padding-bottom: 5%;
}

footer .footer-body .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-body .footer-content ul li {
  list-style: none;
}

footer .footer-body .footer-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

footer .footer-body .footer-content .links li {
  text-align: left;
}

footer .footer-body .footer-content .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15% 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 769px) {
  footer .footer-body .footer-header {
    text-align: left;
    padding-bottom: 8%;
  }
  footer .footer-body .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-body .footer-content ul li {
    list-style: none;
  }
  footer .footer-body .footer-content .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 0;
  }
  footer .footer-body .footer-content .links li {
    width: 20%;
    text-align: left;
  }
  footer .footer-body .footer-content .svg {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */